/* The file does no work after the use of tailwind CSS */

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  label.form-label {
    font-weight: bold;
  }
  

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .btn-login {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-login:hover {
    background-color: #3e8e41;
  }